@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-green: #38E078;
  --color-textB: #0D1A12;
}

@layer base {
  body {
    font-family: "Work Sans", sans-serif;
  }
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    font-size: 36px;
    line-height: 45px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    margin: 12px 0 4px;
  }
  .card {
    @apply border-1 border-[#DBE0E5] rounded-lg p-4;
  }
  .card-container {
    @apply grid gap-3;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
  }
  .testimonial-container {
    @apply grid gap-3;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
  }
  .mobile-px {
    @apply px-[3vw];
  }
  button:hover {
    cursor: pointer;
  }
}
